@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f6f5f7;
}

.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* уменьшено с 600px */
  width: 360px;
}

.screen {
  height: 500px; /* уменьшено с 600px */
  width: 360px;
  /* остальные стили остаются */
}


.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 100px;
}

.login__field {
  padding: 20px 0;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  left: 10px;
  color: #7875b5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 40px;
  font-weight: 700;
  width: 100%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.button {
  border-radius: 20px;
  border: 1px solid #6a679e;
  background-color: #6a679e;
  color: #fff;
  font-weight: 600;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button__text {
  font-size: 16px;
}

.button:hover {
  background-color: #5d54a4;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6e60d4;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5d54a4, #6a679e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7e7bb9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
